---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Open Sans", Courier, Arial, sans-serif;
$code-font:        Courier;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:         #FFF;
$background-color:   #282828;
$brand-color:        #2a7ae2;
$link-color:         #8E44AD;
$link-hover-color:   #BE90D4;
$string-hover-color: #F5D76E;
$string-color:       #F5AB35;
$comment-color:      #666;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin medium-viewport {
  @media (min-width: 551px) and (max-width: 1000px) { @content; }
}

@mixin mobile-viewport { 
  @media (max-width: 550px) { @content; } 
}

@mixin larger-mobile-viewport {
  @media (min-width: 551px) and (max-width: 767px ){ @content; }
}

@mixin tablet-viewport {
  @media (min-width: 768px) and (max-width: 1300px) {
    @content;
  }
}

@mixin transition($time) {
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}

@mixin hover-pointer {
  &:hover { cursor: pointer; }
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
