<header>
  <a class="header-title header-link" href="{{ site.baseurl }}">JOHNNY JI</a>

  <div class="social-media-links">
    <a href="https://www.github.com/johnnyji" target="_blank" class="social-link github">
      <i class="fa fa-github"></i>
    </a>
    <a href="https://www.twitter.com/johnnyisji" class="social-link twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/in/johnnyji" class="social-link linkedin">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://www.instagram.com/johnnyisji" class="social-link instagram">
      <i class="fa fa-instagram"></i>
    </a>
  </div>
</header>