<header class="header">
  <a class="header-title" href="{{ site.url }}">JOHNNY JI</a>
  <div class="header-social-media">
    <a href="https://www.github.com/johnnyji" target="_blank" class="header-social-media-link github">
      <i class="fa fa-github"></i>
    </a>
    <a href="https://www.twitter.com/johnnyisji" target="_blank" class="header-social-media-link twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/in/johnnyji" target="_blank" class="header-social-media-link linkedin">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://www.instagram.com/johnnyisji" target="_blank" class="header-social-media-link instagram">
      <i class="fa fa-instagram"></i>
    </a>
  </div>
</header>
