<header>
  <a class="header-title header-link header-lite" href="http://johnnyji.me">BACK</a>

  <div class="social-media-links">
    <a href="https://www.github.com/johnnyji" target="_blank" class="social-link github header-lite">
      <i class="fa fa-github header-lite"></i>
    </a>
    <a href="https://www.twitter.com/johnnyisji" target="_blank" class="social-link twitter header-lite">
      <i class="fa fa-twitter header-lite"></i>
    </a>
    <a href="https://www.linkedin.com/in/johnnyji" target="_blank" class="social-link linkedin header-lite">
      <i class="fa fa-linkedin header-lite"></i>
    </a>
    <a href="https://www.instagram.com/johnnyisji" target="_blank" class="social-link instagram header-lite">
      <i class="fa fa-instagram header-lite"></i>
    </a>
  </div>
</header>