footer {
  @include medium-viewport { font-size: 80% }
  @include mobile-viewport { 
    font-size: 60%;
    span { display: none; }
  }
  text-align: center;
  color: $comment-color;
  font-family: $code-font;
  margin: 2rem 0;
  a {
    @include transition(0.3s);
    color: inherit;
    &:hover {

    }
  }
}

@include media-query($on-laptop) {
}


@include media-query($on-palm) {

}