footer {
  @include medium-viewport { font-size: 1.15rem; span { display: none; }}
  @include mobile-viewport { display: none; }
  @include larger-mobile-viewport { 
    font-size: 1rem; 
    span { display: none; } 
  }
  position: relative;
  text-align: center;
  clear: both;
  color: $comment-color;
  font-family: $code-font;
  font-size: 1.2rem;
  margin: 2rem 0;
  a {
    color: inherit;
  }
}

@include media-query($on-laptop) {
}


@include media-query($on-palm) {

}