.header {
  align-items: center;
  color: #FAFAFA;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.62rem;
  height: auto;
  justify-content: space-between;
  padding: 0.7rem 4rem;
  position: relative;
  width: 100%;

  &-lite { color: $post-font-color !important }

  &-title {
    color: #FAFAFA !important;
    cursor: pointer;
    font-family: $code-font;
    @include mobile-viewport {
      margin: 0.5rem 0;
      text-align: center;
      width: 100%;
    }
    &-lite {
      color: $post-font-color !important;
      font-weight: 600;
    }
  }

  &-social-media {
    position: relative;
    @include mobile-viewport {
      margin: 0.5rem 0;
      padding-bottom: 1.5rem;
      text-align: center;
      width: 100%;
    }

    &-link {
      padding: 0 0.5rem;
      i {
        color: #FAFAFA;
        cursor: pointer;
      }
    }
  }
}
