header {
  position: relative;
  width: 100%;
  min-height: 60px;
  height: auto;
  padding: 0.7rem 4rem;
  letter-spacing: 1px;
  font-size: 1.62rem;
  .header-title {
    @include mobile-viewport {
      margin: 0.5rem 0;
      width: 100%;
      text-align: center;
    }
    position: relative;
    display: inline-block;
    font-family: $code-font;
    color: whitesmoke;
    &:hover {
      cursor: pointer;
      top: -3px;
    }
  }
  .social-media-links {
    @include mobile-viewport {
      margin: 0.5rem 0;
      padding-bottom: 1.5rem;
      width: 100%;
      text-align: center;
    }
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: whitesmoke;
    float: right;
    .social-link {
      padding: 0 0.5rem;
      i {
        color: whitesmoke;
        &:hover {
          top: -3px;
          cursor: pointer;
        }
      }
    }
  }
}

.header-lite {
  font-weight: bold;
  color: $background-color !important;
}