.index-container {
  position: relative;
  margin: 0 0 0 4rem;
  padding-bottom: 0.5rem;
  width: 60vw;
  max-width: 700px;
  @include medium-viewport {
    width: 70vw;
  }
  @include larger-mobile-viewport {
    width: 80vw;
  }
  @include mobile-viewport {
    width: 90vw;
  }
}

.intro-container {
  @include mobile-viewport { display: none; }
  @include larger-mobile-viewport { display: none; }
  margin: 2.5rem 0;
  .intro-title {
    @include medium-viewport { font-size: 2.2rem;  }
    @include mobile-viewport { font-size: 2rem; }
    position: relative;
    margin: 0 auto;
    font-size: 1.5rem;
    // text-align: center;
    width: 100%;
  }
  .website-link {
    color: $comment-color;
    &:hover {
      color: $link-hover-color;
    }
  }

}

.post-list {
  // position: relative;
  // margin: 0 auto;
  // width: 60vw;
  // max-width: 700px;
  // @include medium-viewport { width: 70vw; }
  // @include larger-mobile-viewport { width: 80vw; }
  // @include mobile-viewport { width: 90vw; }
  .post-container {
    position: relative;
    margin: 2.5rem 0;
    .post-header {
      @include mobile-viewport { font-size: 1rem; };
      @include medium-viewport { font-size: 1.25rem; };
      position: relative;
      font-size: 1.5rem;
      .post-date {
        @include transition(0.3s);
        position: relative;
        color: $link-color;
        display: inline-block;
        &:hover {
          color: $link-hover-color;
        }
      }
      .post-title {
        @include transition(0.3s);
        position: relative;
        color: $string-color;
        display: inline-block;
        &:hover {
          color: $string-hover-color;
        }
      }
    }
    .post-preview {
    }
  } 
}