.index-container {
  @include larger-mobile-viewport { width: 70vw; margin: 0 4rem; }
  @include medium-viewport { width: 85vw; margin: 0 4rem; }
  @include mobile-viewport { width: 85vw; margin: 0 2rem; }
  position: relative;
  margin: 0 4rem;
  padding-bottom: 0.5rem;
  width: 100vw;
  max-width: 700px;
}

.intro-container {
  @include mobile-viewport { display: none; }
  @include larger-mobile-viewport { display: none; }
  margin: 2.5rem 0;
  .intro-title {
    position: relative;
    margin: 0 auto;
    font-size: 1.5rem;
    width: 100%;
  }
  .website-link {
    color: $comment-color;
    &:hover {
      color: $link-hover-color;
    }
  }

}

.post-list {
  .post-container {
    position: relative;
    margin: 2.5rem 0;
    .post-header {
      @include mobile-viewport { font-size: 1rem; };
      @include medium-viewport { font-size: 1.25rem; };
      position: relative;
      font-size: 1.5rem;
      .post-date {
        @include transition(0.3s);
        font-size: 1.2rem;
        color: $link-color;
        &:hover {
          color: $link-hover-color;
        }
      }
      .post-title {
        @include transition(0.3s);
        color: $string-color;
        &:hover {
          color: $string-hover-color;
        }
      }
    }
    .post-preview {
      color: $comment-color;
      margin-top: 0.3rem;
    }
  } 
}