/**
 * Site header
 */

@import "index";
@import "footer";
@import "header";
@import "post";


/**
 * Page content
 */

.lite {
  background-color: whitesmoke;
}

.page-container {
  position: relative;
  margin: 1rem auto 0 auto;
  width: 100%;
}

.post-content {
  margin-bottom: $spacing-unit;
  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
        font-size: 28px;
    }
  }
  h3 {
      font-size: 26px;
      @include media-query($on-laptop) {
          font-size: 22px;
      }
  }
  h4 {
      font-size: 20px;
      @include media-query($on-laptop) {
          font-size: 18px;
      }
  }
}