.single-post-container {
  position: relative;
  background-color: white;
  padding: 3rem;
  width: 100vw;
}

.single-post {
  @include mobile-viewport { width: 95%; }
  position: relative;
  margin: 0 auto;
  width: 80%;
  .single-post-header {
    position: relative;
    color: black;
    padding: 0 0 1rem 0;
    .title {
      position: relative;
      font-weight: 600;
      font-size: 2rem;  
      #html-tag-left { padding-right: 8px; }
      #html-tag-right { padding-left: 2px; }
    }
    .date {
      position: relative;
      font-size: 1.1rem;
      color: $comment-color;
    }
  }
  .single-post-content {
    position: relative;
    color: black;
    font-family: $base-font-family;
    font-weight: 400;
    margin-bottom: 5rem;
  }
}